@model TreningIRazvoj.Frontend.Models.Kategorije.KategorijaProgramaModel

<div class="mb-3">
    <label asp-for="Naziv" class="form-label"></label>
    <input asp-for="Naziv" class="form-control" />
    <span asp-validation-for="Naziv" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Opis" class="form-label"></label>
    <textarea asp-for="Opis"
              class="form-control"
              rows="5">
    </textarea>
    <span asp-validation-for="Opis" class="text-danger"></span>
</div>