@model TreningIRazvoj.Frontend.Models.Prijave.ObradiPrijavuModel
@using TreningIRazvoj.Frontend.Models.Prijave

@{
    ViewData["Title"] = "Obrada prijave";
}

<h1>Obrada prijave</h1>

<div class="mb-4">
    <strong>Zaposleni:</strong>
    @Model.ImeIPrezimeZaposlenog

    <br />

    <strong>Program:</strong>
    @Model.NazivRazvojnogPrograma
</div>

<form asp-action="Obradi" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="ZaposleniId" type="hidden" />
    <input asp-for="RazvojniProgramId" type="hidden" />
    <input asp-for="ImeIPrezimeZaposlenog" type="hidden" />
    <input asp-for="NazivRazvojnogPrograma" type="hidden" />

    <div asp-validation-summary="ModelOnly"
         class="alert alert-danger">
    </div>

    <div class="mb-3">
        <label asp-for="Status"
               class="form-label">
        </label>

        <select asp-for="Status"
                asp-items="Html.GetEnumSelectList<StatusPrijaveModel>()"
                class="form-select">
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="ProcenatPrisustva"
               class="form-label">
        </label>

        <input asp-for="ProcenatPrisustva"
               class="form-control" />

        <span asp-validation-for="ProcenatPrisustva"
              class="text-danger">
        </span>
    </div>

    <div class="mb-3">
        <label asp-for="BrojPoena"
               class="form-label">
        </label>

        <input asp-for="BrojPoena"
               class="form-control" />

        <span asp-validation-for="BrojPoena"
              class="text-danger">
        </span>
    </div>

    <div class="mb-3">
        <label asp-for="DatumZavrsetka"
               class="form-label">
        </label>

        <input asp-for="DatumZavrsetka"
               type="date"
               class="form-control" />
    </div>

    <button class="btn btn-primary">
        Sačuvaj obradu
    </button>

    <a asp-action="Index"
       class="btn btn-outline-secondary">
        Odustani
    </a>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}